/* BANNER */
#banner{
    position: relative;
    width: 100%;
    height: auto;
    max-height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow)
}

#background-video {
    width: 100vw;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: -1;
}

#overlay-banner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.857);
}

#logo-banner{
    position: absolute;
    width: 100%;
    max-width: 400px;
}

@media (max-width: 750px) {
    #background-video { display: none; }
    #banner {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.735), rgba(0, 0, 0, 0.895)), url("../assets/banner-mobile.png") no-repeat;
        background-size: cover;
        background-position: top right;
        position: relative;
        width: 100vw;
        height: 250px;
    }

    #overlay-banner{
        display: none;
    }

    #logo-banner{
        position: absolute;
        width: 100%;
        max-width: 60%;
    }
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.section1{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.section1 .box{
    background: #0C0C0C;
    box-shadow: var(--box-shadow);
    padding: 40px 30px;
    width: 250px;
    max-width: 30%;
    height: 140px;
    text-align: center;
}
.section1 .box p{
    margin-bottom: 20px;
}
.section1 .info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 280px;
    margin-bottom: 40px;
}

.section1 .info h1{
    position: relative;
    margin-bottom: 20px;
    font-size: 18px;
}
.section1 .info h1::after{
    content: '';
    position: absolute;
    top: 130%;
    left: 0;
    width: 50%;
    height: 1px;
    background: #FFF;
}
.section1 .info p{
    margin-bottom: 25px;
    line-height: 20px;
}
.section1 .info a{
    color: #0C0C0C;
    background: #E8E8E8;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 15px;
    width: fit-content;
    font-weight: bold;
    box-shadow: var(--box-shadow);
}
.section1 .info a:hover{
    color: #E8E8E8;
    background: #0C0C0C;
    box-shadow: 5px 5px 20px #000;
    transition: .2s;
}

@media (max-width: 940px) {
    .section1{
        flex-direction: column;
        align-items: center;
    }

    .section1 .box{
        display: none;
    }

    .section1 .info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        margin: 40px;
    }
}

/* AREAS DE ATUAÇÃO */
.section2{
    background-image: url(../assets/sao-paulo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    width: 100%;
    height: fit-content;
    box-shadow: inset 0 0 30px 15px rgb(0, 0, 0);
    padding: 40px 0;
}

.section2 .owl-carousel{
    width: 80%;
    margin: 0 auto;
}
.section2 h2{
    font-size: 18px;
    margin-bottom: 40px;
    position: relative;
    width: fit-content;
    margin-left: 10%;
    font-family: 'Julius Sans One', sans-serif;
}
.section2 h2::after{
    content: '';
    position: absolute;
    top: 130%;
    left: 0;
    width: 120%;
    height: 1px;
    background: #FFF;
}
.section2 .titlediv{
    background: #16181E;
    padding: 30px 15px;
    text-align: center;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 .info{
    background: #161616e1;
    padding: 30px;
    font-family: var(--roboto);
    line-height: 17px;
    min-height: 330px;
    position: relative;
}
.section2 .info a{
    font-weight: bold;
    color: #FFFFFF;
    background: #000000;
    padding: 6px 20px;
    border-radius: 12px;
    font-size: 12px;
    position: absolute;
    text-decoration: none;
    bottom: 5%;
    right: 5%;
    
}
.section2 .info a:hover{
    color: #000000;
    background: #FFFFFF;
    transition: background-color .5s, color .5s;
}
.section2 .info li{
    list-style: disc;
    font-size: 14px;
    margin-top: 15px;
}
.section2 .info li:nth-child(1){
    margin-top: 0px;
}

.section2 .owl-nav button{
    background: #161616e1 !important;
    padding: 10px 20px!important;
    font-size: 14px!important;
}

/* Artigos */
.section3{
    color: #FFFFFF;
    text-decoration: none;
}
.section3:hover #section3container{
    background: #000000;
}
.section3 section{
    background: #0C0C0C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 60px;   
    margin: 40px auto; 
    border-radius: 20px;
}

.section3 section p{
    width: 100%;
    max-width: 50%;
    font-size: 18px;
    line-height: 22px;
    font-family: var(--roboto);
}
.section3 section img{
    width: 200px;
}

@media (max-width: 740px) {
    .section3 section{
        flex-direction: column;
        text-align: center;
        max-width: 60%;
        padding: 30px;
    }
    .section3 section p{
        max-width: 80%;
    }
    .section3 section img{
        max-width: 150px;
        margin-top: 20px;
    }
}
