*{
    margin: 0;
    padding: 0;
}

#loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loading video{
    width: 100%;
    max-width: 300px;
}
#loading p{
    color: #FFFFFF;
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    margin-top: 60px;
}
#loading #loading-text{
    position: relative;
}
#loading .cover-loading{
    position: absolute;
    top: 0;
    background-color: #000000;
    width: 110%;
    height: 100%;
    animation: carregandoappear 4s infinite;
}

@keyframes carregandoappear{
    0%{  }
    25%{ transform: translateX(100%); }
    50%{ opacity: 0; }
    75%{ transform: translateX(-10%); opacity: 0; }
    100%{ transform: translateX(0); opacity: 1; }
}

#container{
    background-image: url(assets/palacio.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    z-index: -2;
}

#overlay{
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.888), rgba(0, 0, 0, 0.911), rgba(0, 0, 0, 0.888));
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: -2;
    color: #ffffff;
    font-family: 'Jura', sans-serif;
    text-align: center;
}
.content .logo{
    width: 80%;
    max-width: 800px;
    animation: logo 5s forwards;
}
@keyframes logo{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

h1{
    margin-top: 100px;
    font-size: 1.5rem;
    animation: embreve 4s infinite;
    animation-delay: 2s;
    opacity: 0;
}
@keyframes embreve{
    0%{ opacity: 0; }
    50%{ opacity: 1; }
    100%{ opacity: 0; }
}



.pilares{
    
    z-index: -2;
}
#pilaresquerda{
    position: absolute;
    left: -8%;
    height: 110%;
    top: 0;
}

#pilardireita{
    position: absolute;
    right: -8%;
    height: 110%;
    top: 0;
}

@media (max-width: 1080px){
    .pilares{
        display: none;
    }

    #overlay{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.098), rgba(0, 0, 0, 0.65));
    }

    h1{
        font-size: 1.2rem;
    }
}