
.areas-atuacao div{
    font-family: var(--roboto);
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 40px;
}

.areas-atuacao div ul{
    list-style-type: disc;
    padding-left: 1.5%;
}

.areas-atuacao div ul li{
    margin-top: 5px;
}

.areas-atuacao div p{
    margin-top: 20px;
}

.areas-atuacao div ul:nth-child(2){
    margin-top: 40px;
}